<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :kind_id, style: "display: block" %>
    <%= form.text_field :kind_id %>
  </div>

  <div>
    <%= form.label :rmk, style: "display: block" %>
    <%= form.text_area :rmk %>
  </div>

  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= form.label :street %><br>
      <%= address_fields.text_field :street %>
    </div>
    <div class="field">
      <%= form.label :city %><br>
      <%= address_fields.text_field :city %>
    </div>
    <div class="field">
      <%= form.label :state %><br>
      <%= address_fields.select :state, options_for_states(@contact.address.state) %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
